
.chat-box {
  width: 100vw;
  height: 100vw;
  bottom: 0;
}
.main-div{
  display: flex;
  justify-content: left;
  flex-direction: row;
  padding: 0;
  height: 100vw;
  width: 120vw;
}

li {
  white-space: nowrap;
  overflow: hidden;
}
.side-bar {
  background-color: #161718;
  height: 100%;
  width: 20vw;
  padding: 0;
}

