html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #373852;
}
:root {
 
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 99vh;
  overflow: hidden;
  margin: 0;
  padding: 0;


  color-scheme: light dark;
  color: rgba(245, 239, 239, 0.87);
  background-color: #e2d1d1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


}
